# 가상환경 관련
venv/
.env

# Python 캐시 파일
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/

# 환경 설정 파일
config.json
settings.yaml
요구.txt

# 로그 및 임시 파일
logs/
*.log

# FFmpeg 설치 파일 (필요할 경우)
ffmpeg.exe

# 데이터
data/
*.mp3

# 테스트 파일
dicordtest.py
redistest.py
yttest.py